.header {
  display: flex;
  color: #f9faf8;
  font-size: 48px;
  justify-content: center;
  margin: 0;

  &--heading {
  }

  &--nav {
    &--links {
      display: flex;
      justify-content: space-around;

      &--item {
        &--link {
          color: green;
          text-decoration: none;
        }
      }
    }
  }
}

.first-box {
  background-color: #1f2937;
}

.names {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  align-items: flex-end;
}

.info {
  color: #f9faf8;
}
